.signup-page-container {
  width: 90%;
  max-width: 1320px;
  background-color: var(--text-on-theme-primary);
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  padding: 2rem;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}
.signup-page-background-image {
  background-image: url(public/image/signup-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  height: 100%;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
  border-radius: 1rem;
}

.signup-page-background-logo {
  width: 120px;
}

.back-button {
  padding: 0.8rem 1.2rem;
  display: flex;
  align-items: center;
  font-size: 1rem;
  color: var(--base-color);
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  transition: background 0.3s ease-in-out;
  justify-content: center;
  text-transform: capitalize;
  text-decoration: none;
}

.back-button:hover {
  background-color: rgba(255, 255, 255, 0.5);
}
.signup-page-inputs-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}

.signup-page-inputs-title {
  color: var(--campaign-text);
  font-size: 2rem;
  text-align: center;
  text-transform: capitalize;
}

.signup-page-inputs-paragraph {
  color: var(--campaign-text);
  font-size: 1rem;
  text-align: center;
  text-transform: capitalize;
}

.signup-page-inputs-paragraph a {
  color: var(--theme-disabled);
  font-weight: bold;
  text-decoration: none;
}

.signup-page-inputs-content {
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
  width: 100%;
  max-width: 470px;
}

.name-fields {
  display: flex;
  gap: 12px;
  width: 100%;
}

.name-fields input {
  flex: 1;
  padding: 0.9rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--text-on-theme-primary);
  transition: border 0.3s ease-in-out;
}

.name-fields input:focus {
  border-color: var(--button-theme-color);
  outline: none;
}

.signup-page-inputs-content input {
  padding: 1rem;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 1rem;
  background-color: var(--text-on-theme-primary);
  transition: border 0.3s ease-in-out;
}

.signup-page-inputs-content input:focus {
  border-color: var(--button-theme-color);
  outline: none;
}

.checkbox-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-input {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.checkbox-text {
  font-size: 14px;
}

.checkbox-text a {
  color: var(--theme-disabled);
  font-weight: bold;
  text-decoration: none;
}

.create-account-button {
  background-color: var(--button-theme-color);
  border: 0;
  padding: 1rem 4rem;
  border-radius: 10px;
  color: var(--campaign-text);
  cursor: pointer;
  width: 100%;
  max-width: 300px;
  text-align: center;
  font-size: 1rem;
  transition: background 0.3s ease-in-out;
}

.create-account-button:hover {
  background-color: var(--button-theme-hover);
}

@media (max-width: 768px) {
  .signup-page-container {
    grid-template-columns: 1fr;
    width: 95%;
    padding: 1.5rem;
    position: static;
    transform: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 6rem;
  }

  .signup-page-background-image {
    width: 100%;
    height: 200px;
    border-radius: 10px;
  }

  .signup-page-inputs-container {
    width: 100%;
    padding: 1rem;
  }

  .signup-page-inputs-title {
    font-size: 1.8rem;
  }

  .create-account-button {
    padding: 1rem 3rem;
    font-size: 1rem;
  }

  .name-fields {
    flex-direction: column;
    gap: 15px;
  }
}
