.footer-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  justify-items: center;
  align-items: center;
}
.information-container,
.my-account-container,
.store-info-container {
}
.information-title,
.my-account-title,
.store-info-title {
  color: var(--theme-primary);
  margin-top: 2rem;
}
.information-list-container,
.my-account-list-container,
.store-info-list-container {
  list-style: none;
}
.information-list,
.my-account-list,
.store-info-list {
  display: flex;
  color: var(--campaign-text);
  padding: 0.4rem;
  margin-top: 1rem;
  justify-content: flex-start;
  align-items: center;
  gap: 0.5rem;
}
.my-account-list-link,
.store-info-list-link {
  color: var(--text-on-base-color);
  text-decoration: none;
}
